# TODO: Añadir clave de API de servicio de email marketing (Mailchimp, ConvertKit, etc.)
VITE_EMAIL_API_KEY=

# TODO: Añadir URL del backend si se desea guardar resultados del test
VITE_API_URL=

# TODO: Añadir pixel de seguimiento (Meta Pixel, Google Analytics)
VITE_GA_MEASUREMENT_ID=
VITE_META_PIXEL_ID=